

*   Nama: Arif Muhammad Laduni
*   NIM: 1103213003
*   Dataset: melb_data.csv

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

# Load the data
url = "/content/drive/MyDrive/Dataset/melb_data.csv"
df = pd.read_csv(url)

# Menampilkan beberapa baris pertama dari data
print(df.head())

# Pisahkan fitur dan target dan memilih kolom dengan tipe int dan float
X = df.select_dtypes(include=['float64','int64'])
X = X.dropna(axis=1)
y = df['Price']

# Membagi data menjadi set pelatihan dan pengujian
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Membuat model Decision Tree
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

# Memprediksi nilai target pada set pengujian
predictions = model.predict(X_test)

# Mengukur performa model
mae = mean_absolute_error(y_test, predictions)
print(f"Mean Absolute Error: {mae}")

   Unnamed: 0      Suburb           Address  Rooms Type      Price Method  \
0           1  Abbotsford      85 Turner St      2    h  1480000.0      S
1           2  Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2           4  Abbotsford      5 Charles St      3    h  1465000.0     SP
3           5  Abbotsford  40 Federation La      3    h   850000.0     PI
4           6  Abbotsford       55a Park St      4    h  1600000.0     VB

  SellerG       Date  Distance  ...  Bathroom  Car  Landsize  BuildingArea  \
0  Biggin  3/12/2016       2.5  ...       1.0  1.0     202.0           NaN
1  Biggin  4/02/2016       2.5  ...       1.0  0.0     156.0          79.0
2  Biggin  4/03/2017       2.5  ...       2.0  0.0     134.0         150.0
3  Biggin  4/03/2017       2.5  ...       2.0  1.0      94.0           NaN
4  Nelson  4/06/2016       2.5  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea  Lattitude Longtitude             Regionname  \
0        NaN        Yarra   -37.7996   144.9984  Northern Metropolitan
1     1900.0        Yarra   -37.8079   144.9934  Northern Metropolitan
2     1900.0        Yarra   -37.8093   144.9944  Northern Metropolitan
3        NaN        Yarra   -37.7969   144.9969  Northern Metropolitan
4     2014.0        Yarra   -37.8072   144.9941  Northern Metropolitan

   Propertycount
0         4019.0
1         4019.0
2         4019.0
3         4019.0
4         4019.0

[5 rows x 22 columns]
Mean Absolute Error: 211.33940217391304